@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,800);

:root {
  --first-color: #00acb0;
  --button-color: #233d8d;
  --hover-button-color: #272350;
  --background-color: rgba(249, 249, 249, 1);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--background-color);
}

.container {
  margin-top: 9vh;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 15vh;
}

.screen {
  background-color: var(--background-color);
  height: 70vh;
  width: 40vh;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
    rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

.logo {
  height: auto;
  width: 80%;
}

.screen-content {
  z-index: 1;
  height: 100%;
}

.screen-background-shape {
  transform: rotate(45deg);
}

.login {
  width: 40vh;
  padding: 4vh;
  /* padding-top: 20vh; */
}

.login-field {
  padding: 4vh 0vh;
}

.login-input {
  border: none;
  border-bottom: 0.2vh solid black;
  background: none;
  padding: 2vh;
  padding-left: 4vh;
  font-weight: 700;
  width: 100%;
  transition: 0.2s;
}

.login-input:active,
.login-input:focus,
.login-input:hover {
  outline: none;
  border-bottom-color: #000000;
}

.login-submit {
  background: var(--button-color);
  font-size: 1.5vh;
  margin-top: 4vh;
  padding: 1.8vh 2vh;
  border-radius: 26px;
  text-transform: uppercase;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  color: whitesmoke;
  cursor: pointer;
  border: none;
  position: relative;
}

.login-submit:hover {
  background-color: var(--first-color);
}

/*///////////////// anim button ////////////////*/

.button:hover:before {
  opacity: 1;
  transform: translate(0, 0);
}
button:before {
  content: attr(data-hover);
  position: absolute;
  top: 1.5em;
  left: 0;
  width: 100%;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: 800;
  font-size: 0.8em;
  opacity: 0;
  transform: translate(-100%, 0);
  transition: all 0.3s ease-in-out;
}

button:hover div {
  opacity: 0;
  transform: translate(100%, 0);
}
button div {
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: 800;
  font-size: 0.8em;
  transition: all 0.3s ease-in-out;
}
