.button-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 50%;
  left: 0;
  right: 0;
  margin: 0 auto;
}

.fleche-gauche {
  margin-left: 2rem;
  width: 20px;
  height: 20px;
}

.fleche-gauche:hover {
  transform: scale(1.5);
}

.fleche-droite {
  margin-right: 2rem;
}

.fleche-droite:hover {
  transform: scale(1.5);
}

.previous-button,
.next-button {
  padding: 10px 20px;
  background-color: #67afca;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.previous-button:hover,
.next-button:hover {
  background-color: #8cb2d0;
  transform: scale(1.1);
}

.previous-button:focus,
.next-button:focus {
  outline: none;
}
