@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100;0,200;0,300;0,400;1,100;1,200;1,300;1,400&family=Merriweather+Sans&display=swap");
@import url("https://fonts.googleapis.com/css?family=Roboto:400,400i,700");

.faq_content {
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  align-items: center;
  gap: 4em;
  margin: 2% 0;
}

/*////////////////////////////////////////////////
////////////////      Section 1    /////////////
////////////////////////////////////////////////*/

.faq_img {
  display: flex;
  align-items: center;
  height: 40vh;
  width: 70%;
  border-radius: 10px;
}

.faq_img img {
  height: 40vh;
  width: auto;
}

.faq_img h1 {
  color: var(--button-color);
  border-bottom: 1px solid;
  font-size: 2.5em;
  margin-left: 15%;
  margin-top: -15em;
}

/*////////////////////////////////////////////////
/////////////    Section 2 search_bar   //////////
////////////////////////////////////////////////*/

.faq_searchbar {
  height: 15vh;
  width: 100%;
  margin: 2% 0 4vh 0;
  /* background-color: rgb(182, 182, 52); */
}
.flexbox {
  /* background: linear-gradient(155deg, #55c7ed, #2bb3e0, #3bc1ed); */
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Roboto, sans-serif;
}

/* .search {
  margin: 20px;
} */

/* .search > div {
  display: inline-block;
  position: relative; */
/* filter: drop-shadow(0 1px #ffffff); */
/* } */

/* .search > div:after {
  content: "";
  background: var(--hover-button-color);
  width: 3px;
  height: 15px;
  position: absolute;
  top: 55%;
  right: -10%;
  transform: rotate(135deg);
} */

.search > div > input {
  color: var(--hover-button-color);
  font-size: 16px;
  background: transparent;
  width: 35vw;
  height: 100%;
  margin-left: -10rem;
  border: solid 3px var(--hover-button-color);
  outline: none;
  border-radius: 35px;
  transition: width 0.5s;
}

/* .search > div > input:placeholder {
  color: var(---button-color);
  opacity: 0;
   transition: opacity 150ms ease-out; 
} */

/* .search > div > input:focus::placeholder {
  opacity: 1;
}

.search > div > input:focus,
.search > div > input:not(:placeholder-shown) {
  width: 25vw;
} */

/*////////////////////////////////////////////////
/////////////    Section 3 faq   //////////
////////////////////////////////////////////////*/

.faq_section_main_content {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 10px;
}

.faq_content2 {
  width: 100%;
}

.faq_content_div {
  display: flex;
  flex-direction: column;
  gap: 1.5em;
  color: var(--hover-button-color);
  /* padding: 2rem; */
}

.faq_content_div h2 {
  align-self: center;
  margin-bottom: 4%;
}

/* .faq_searchbar {
  width: 40%;
}

.faq_content2 {
  width: 60%;
} */
