.phone-container,
.tablet-container,
.laptop-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100dvh;
  margin-top: 10%;
  margin-bottom: 30dvh;
  color: var(--hover-button-color);
}

.phone-form-container,
.tablet-form-container,
.laptop-form-container {
  width: 80%;
  max-width: 600px;
  margin-right: -10rem;
  margin-top: 250px;
  padding: 20px;
  border: 2px solid var(--yellow-connect);
  border-radius: 8px;
  background-color: #f9f9f9;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.phone-form-input,
.laptop-form-input,
.tablet-form-input {
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.phone-container label {
  font-weight: bold;
  margin-bottom: 10px;
}

.phone-container input[type="text"],
.laptop-container input[type="text"],
.tablet-container input[type="text"],
select {
  width: 100%;
  padding: 5px;
  margin-bottom: 10px;
  text-align: center;
}

.phone-container button[type="submit"],
.laptop-container button[type="submit"],
.tablet-container button[type="submit"] {
  padding: 10px 20px;
  color: #fff;
  border: none;
  cursor: pointer;
  background-color: var(--yellow-connect);
  border-radius: 4px;
  border: thin solid var(--button-color);
}
.phone-container select,
.laptop-container select,
.tablet-container select {
  border-radius: 5px;
  max-width: 70%;
  text-align: center;
}
input#model {
  max-width: 70%;
  border: thin solid var(--button-color);
  font-size: medium;
}
.phone-form-input > *,
.laptop-form-input > *,
.tablet-form-input > * {
  margin-bottom: 10px;
}

div.phone-form-container,
div.tablet-form-container,
div.laptop-form-container {
  margin-right: -45%;
  margin-top: -20%;
}
h1.phone-form-title,
h1.tablet-form-title,
h1.laptop-form-title {
  color: var(--button-color);
  font-size: 2.5em;
  margin-left: 8%;
  margin-top: 17%;
  text-decoration: underline;
}

.phone-form-container img {
  border-radius: 7%;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.phone-container input,
.tablet-container input,
.laptop-container input {
  border: none;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

.phone-container select,
.tablet-container select,
.laptop-container select {
  border: none;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  border: thin solid var(--button-color);
  text-align: center;
  font-size: medium;
  background-color: var(--yellow-dimmed-connect);
}
@media screen and (min-width: 900px) {
  div.phone-form-container,
  div.tablet-form-container,
  div.laptop-form-container {
    margin-top: -60%;
    margin-right: -45%;
  }
}
@media screen and (max-width: 599px) {
  div.phone-form-container,
  div.tablet-form-container,
  div.laptop-form-container {
    margin-top: 14%;
    margin-right: 5%;
  }
  h1.phone-form-title,
  h1.tablet-form-title,
  h1.laptop-form-title {
    font-size: 1.8em;
    margin-top: 4%;
  }
}
