.main-card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 1);
  flex-wrap: wrap;
  border-radius: 8px;
  height: 100%;
  width: 23vw;
  padding: 10px;
  margin: 10px;
}

.card-title {
  margin: 0px;
}

div.card {
  padding: 20px;
  flex-wrap: wrap;
}
.cards {
  margin: auto;
}
h3.card-title {
  text-align: center;
  padding-bottom: 2px;
  padding-top: 4px;
}
.card > p {
  font-size: small;
  padding: 2px;
}
img {
  height: 150px;
  width: auto;
  display: block;
  margin: 0 auto;
}
.e-model {
  font-weight: 600;
}
@media screen and (max-width: 1024px) {
  img {
    height: 100px;
    width: auto;
  }
}
