.navbar_nav {
  display: flex;
}

.navbar {
  margin-top: 2vh;
}

.overlay_menu_mobile {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  display: none;
  z-index: 1;
}
.overlay_menu_mobile.open {
  display: block;
}

/*////////////////////////////////////////////////
////////////////      Link       /////////////////
////////////////////////////////////////////////*/

.navbar_link {
  text-decoration: none;
  color: var(--button-color);
  font-weight: 600;
  font-size: 1.1em;
  padding: 0 10px;
  position: relative;
}

.navbar_link:after {
  content: "";
  height: 1px;
  background-color: white;
  width: 0;
  position: absolute;
  bottom: -5px;
  right: 0;
  transition: 0.2s all ease-in-out;
}
.navbar_link:hover:after {
  width: 100%;
  left: 0;
}
.links {
  display: flex;
  margin: 5vh 0;
  gap: 50px;
}
.links div {
  display: flex;
  gap: 20px;
}

/*////////////////////////////////////////////////
////////////////      Menu burger    /////////////
////////////////////////////////////////////////*/

.navbar_burger {
  display: none;
  margin: 0;
  width: 7vw;
  max-width: 60px;
}

.navbar_burger:hover {
  transform: scale(1.1);
}

.navbar_burger svg {
  stroke: var(--button-color);
  width: 100%;
  height: auto;
}
.navbar_burger_close {
  display: none;
}

.navbar_burger_close svg {
  max-width: 40px;
}

.navbar_burger_close:hover {
  cursor: pointer;
}

/*////////////////////////////////////////////////
////////////////      Logo Emmaus      ///////////
////////////////////////////////////////////////*/

.logoEmmaus {
  height: 17vh;
  /* margin: 1% 0 0 1%; */
}

/*////////////////////////////////////////////////
////////////////      Button logout    ///////////
////////////////////////////////////////////////*/

.logOut_button {
  border: none;
  background-color: transparent;
  height: 4vh;
}

.logOut_button img {
  height: 100%;
  transition: transform 500ms ease-in-out;
}

.logOut_button img:hover {
  cursor: pointer;
  transform: scale(1.2) rotate(360deg);
}

.links_connexion {
  display: flex;
  gap: 20px;
  margin: 0 2% 0 0;
}
.connexion {
  color: var(--button-color);
  text-decoration: none;
  font-weight: 500;
}

/*////////////////////////////////////////////////
////////////////      Media Query      ///////////
////////////////////////////////////////////////*/

/* .inscrire {
  text-decoration: none;
}
.inscrire p {
  color: white;
  text-decoration: none;
  font-weight: 500;
  background-color: var(--button-color);
  padding: 0 10px;
}
.inscrire p:hover {
  background-color: white;
  color: var(--button-color);
} */

.navbar_registration_icon {
  display: none;
}
.navbar_login_icon {
  display: none;
}
/*////////////////////////////////////////////////
////////////////      Media Query      ///////////
////////////////////////////////////////////////*/
@media screen and (max-width: 1920px) {
  .navbar_burger {
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  .navbar_burger svg {
    cursor: pointer;
    margin-left: 5%;
  }
  .navbar_nav {
    display: flex;
    justify-content: space-between;
    max-width: 100vw;
  }
  .navbar {
    order: -1;
    position: fixed;
    top: 0;
    left: 0;
    width: 25%;
    min-width: 150px;
    height: 100vh;
    background-color: var(--button-color);
    display: flex;
    align-items: center;
    justify-content: center;
    display: none;
    z-index: 2;
    margin-top: 0;
  }
  .navbar.open {
    display: flex;
    animation: transformMenu 350ms ease-in-out forwards;
  }
  @keyframes transformMenu {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: initial;
    }
  }
  .links {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
  }
  .links div a {
    color: white;
  }
  .links_connexion {
    width: 7vw;
    margin-right: 0;
  }
  .navbar_burger_close {
    display: block;
    max-width: 60px;
  }
  .navbar_burger_close svg {
    stroke: white;
    width: 15%;
    height: auto;
    position: absolute;
    top: 16px;
    left: 16px;
    stroke-width: 2;
    transition: transform 500ms ease-in-out;
  }
  .navbar_burger_close svg:hover {
    transform: scale(1.2) rotate(360deg);
  }

  .connexion p {
    display: none;
  }
  .inscrire p {
    display: none;
  }
  .links_connexion {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .navbar_registration_icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 5%;
    right: 0;
  }
  .navbar_login_icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 5%;
  }
  .logoEmmaus {
    margin: 2vh 0 0 0;
  }
  .navbar_login_icon svg {
    stroke: var(--button-color);
    width: 5%;
    height: auto;
    position: absolute;
    right: 12vw;
    transition: transform 500ms ease-in-out;
  }
  .navbar_registration_icon svg {
    stroke: var(--button-color);
    width: 5%;
    height: auto;
    position: absolute;
    right: 4vw;
    transition: transform 500ms ease-in-out;
  }
  .navbar_registration_icon svg:hover {
    transform: scale(1.2) rotate(360deg);
  }
  .navbar_login_icon svg:hover {
    transform: scale(1.2) rotate(360deg);
  }
}
