@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100;0,200;0,300;0,400;1,100;1,200;1,300;1,400&family=Merriweather+Sans&display=swap");

.popup_box {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.3);
}

.box {
  position: relative;
  background-color: var(--button-color);
  width: 35%;
  height: 25%;
  min-height: 150px;
  border: 1px solid #062964;
  border-radius: 8px;
  margin: 35vh auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  overflow: auto;
  gap: 25%;
}

.box h3 {
  font-size: 1.3em;
  font-family: "lato";
}

.popup_div_btn {
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: 25%;
}

.popup_btn {
  cursor: pointer;
  width: 15%;
  font-size: 1.1em;
  color: var(--hover-button-color);
  border-radius: 7px;
  border: none;
  transition: transform 200ms ease-in-out;
  background-color: white;
}

.popup_btn:hover {
  transform: scale(1.1);
}

.popup_btn.yes:hover {
  color: rgb(33, 221, 33);
}

.popup_btn.no:hover {
  background-color: rgb(255, 6, 6);
  color: white;
}
